@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body ul {
  list-style: none;
}
body a {
  text-decoration: none;
  color: inherit;
}
body li {
  display: inline-block;
}
body main {
  background-color: #f8f9fc;
}

body {
  font-family: "Rubik", san-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 24px;
}

h2, h3, h4, h5 {
  color: #031d5b;
  font-weight: 700;
  letter-spacing: 1px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

button {
  color: inherit;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 5px 0px 5px 0px;
  outline: none;
  border: solid 1px #cef8e5;
  cursor: pointer;
}

.secondary-button {
  font-weight: 600;
  background-color: #1fdb84;
  padding: 10px 25px;
  border-radius: 5px 0px 5px 0px;
  box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
}

header {
  position: fixed;
  padding: 25px 0px;
  width: 100%;
  z-index: 999;
  color: #ffffff;
}
header .container::after {
  content: "";
  display: block;
  clear: both;
}
header .brand {
  float: left;
  font-size: 26px;
  font-weight: 600;
}
header .menu-icon {
  display: none;
  width: 35px;
  float: right;
  cursor: pointer;
}
header nav {
  line-height: 2.5;
  font-size: 16px;
  text-align: center;
}
header nav .close-icon {
  display: none;
  width: 28px;
  float: right;
  cursor: pointer;
}
header nav ul {
  display: inline;
}
header nav li {
  margin-right: 38px;
}
header nav .nav-right {
  float: right;
}
header nav .nav-right a {
  margin-left: 38px;
}
@media (max-width: 1000px) {
  header .menu-icon {
    display: block;
  }
  header nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 40px;
    background-color: #313a5a;
  }
  header nav .close-icon {
    display: block;
  }
  header nav li {
    margin: 40px 0px;
    font-size: 20px;
    display: block;
  }
  header nav .nav-right {
    float: none;
    margin-top: 40px;
    font-size: 20px;
  }
  header nav .nav-right a {
    margin-left: 0px;
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
  }
  header nav .nav-right a:last-of-type {
    padding: 0px;
  }
}

.header-fixed {
  background-color: #232940;
  box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.1);
}

.show-navbar {
  display: block;
  animation: slide 0.5s ease-out;
}

@keyframes slide {
  0% {
    right: -700px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
.hero {
  position: relative;
  background-color: #313a5a;
  color: #ffffff;
  height: 920px;
}
.hero .container {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.hero .container > div {
  width: 50%;
}
.hero .container p {
  font-size: 16px;
  line-height: 2;
  margin: 40px 0px;
}
.hero .container a {
  display: inline-block;
  margin-top: 10px;
}
.hero img {
  max-width: 460px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 120px;
}
@media (max-width: 650px) {
  .hero img {
    display: none;
  }
  .hero .container {
    top: 40%;
    -webkit-transform: translate(0, -40%);
    -moz-transform: translate(0, -40%);
    -ms-transform: translate(0, -40%);
    -o-transform: translate(0, -40%);
    transform: translate(0, -40%);
  }
  .hero .container > div {
    width: 100%;
  }
}
@media (min-width: 651px) and (max-width: 1000px) {
  .hero img {
    max-width: 310px;
  }
}
@media (max-width: 1200px) {
  .hero img {
    right: 5px;
  }
}

footer {
  text-align: center;
  background-color: #f8f9fc;
  padding: 50px 0px;
  color: #5b6c94;
}
footer p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 50px;
}
footer a {
  margin: 0px 20px;
}
@media (max-width: 650px) {
  footer li {
    display: block;
    margin-bottom: 15px;
  }
  footer li span {
    display: none;
  }
}

.benefit {
  position: relative;
  margin-top: -100px;
}
.benefit .container {
  padding: 60px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
}
.benefit .container ul {
  font-size: 0;
}
.benefit .container li {
  vertical-align: top;
  margin-right: 40px;
  width: 30%;
}
.benefit .container li figure {
  display: inline-block;
  padding: 20px 16px;
  background-color: #cef8e5;
  border-radius: 6px;
}
.benefit .container li h3 {
  margin: 26px 0px;
}
.benefit .container li hr {
  position: absolute;
  width: 60px;
  border: 0px;
  height: 2px;
  background-color: #1fdb84;
}
.benefit .container li p {
  margin-top: 50px;
  font-size: 16px;
  line-height: 2;
  color: #5b6c94;
}
.benefit .container li:last-child {
  margin-right: 0px;
}
@media (max-width: 1200px) {
  .benefit .container {
    padding: 20px 40px 40px 40px;
  }
  .benefit .container li {
    display: block;
    width: 100%;
    margin-top: 30px;
  }
}

.pricing {
  padding: 150px 0px;
  text-align: center;
}
.pricing .button-wrapper {
  color: #1fdb84;
  margin: 60px 0px;
  font-size: 0;
}
.pricing .button-wrapper .monthly-plan {
  background-color: #ffffff;
  border-radius: 5px 0px 0px 5px;
}
.pricing .button-wrapper .yearly-plan {
  background-color: #e4fbf1;
  border-radius: 0px 5px 5px 0px;
}
.pricing .card-wrapper::after {
  content: "";
  display: block;
  clear: both;
}
.pricing .card-wrapper > div {
  height: 560px;
  position: relative;
  padding: 60px 0px;
  float: left;
  width: 33.3%;
  color: #5b6c94;
}
.pricing .card-wrapper > div h4 {
  margin-bottom: 20px;
}
.pricing .card-wrapper > div .price {
  font-size: 72px;
  color: #1fdb84;
}
.pricing .card-wrapper > div .per-month {
  margin-bottom: 50px;
}
.pricing .card-wrapper > div ul {
  margin-top: 60px;
}
.pricing .card-wrapper > div li {
  font-size: 16px;
  display: block;
  margin: 15px 0px;
}
.pricing .card-wrapper > div .free-trial {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #1fdb84;
  box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
}
.pricing .card-wrapper > div .free-trial::before {
  content: "";
  position: absolute;
  visibility: hidden;
  left: 50%;
  bottom: -12px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #1f2539 transparent;
  z-index: 1;
}
.pricing .card-wrapper > div .free-trial::after {
  content: "Click to start now";
  visibility: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -50px;
  text-align: center;
  color: #f8f9fc;
  background-color: #1f2539;
  border-radius: 5px;
  padding: 10px;
}
.pricing .card-wrapper > div .free-trial:hover::after, .pricing .card-wrapper > div .free-trial:hover::before {
  visibility: visible;
}
.pricing .card-wrapper > div.free-trial:hover, .pricing .card-wrapper > div.tooltip {
  visibility: visible;
}
.pricing .card-wrapper .highlight-card {
  background-color: #ffffff;
  border-top: 2px solid #0a8aff;
  box-shadow: 0 7px 24px 0 rgba(83, 83, 83, 0.1);
}
@media (max-width: 650px) {
  .pricing .button-wrapper .monthly-plan, .pricing .button-wrapper .yearly-plan {
    vertical-align: top;
    width: 50%;
    padding: 0;
    height: 80px;
  }
  .pricing .card-wrapper > div {
    display: inline-block;
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 651px) and (max-width: 1000px) {
  .pricing .card-wrapper > div {
    display: inline-block;
    float: none;
    width: 60%;
  }
}

.testimonial {
  overflow: hidden;
  position: relative;
}
.testimonial .left {
  margin-left: 10%;
  float: left;
  width: 40%;
  position: relative;
}
.testimonial .left h2 {
  margin: 40px 45px 0px 25px;
  position: absolute;
}
.testimonial .left img {
  max-width: 370px;
}
.testimonial .right {
  width: 50%;
  height: 960px;
  background-color: #313a5a;
  float: right;
}
.testimonial .right .dots {
  position: relative;
  top: 90%;
  left: 20%;
}
.testimonial .right .dots .dot {
  display: inline-block;
  width: 20px;
  margin-left: 10px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50%;
}
.testimonial .right .dots .active-dot {
  background-color: #ffffff;
}
.testimonial .right .testimonial-wrapper {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(0, -50%);
}
.testimonial .right .testimonial-wrapper ul {
  width: 3000px;
  overflow: hidden;
  transition: 0.7s;
}
.testimonial .right .testimonial-wrapper li {
  margin-left: 60px;
  padding: 80px 50px;
  width: 420px;
  height: 500px;
  border-radius: 6px;
  font-size: 18px;
  background-color: #ffffff;
}
.testimonial .right .testimonial-wrapper li > div p {
  color: #5b6c94;
  line-height: 2;
  margin: 23px 0px;
}
.testimonial .right .testimonial-wrapper li > div .author {
  color: #031d5b;
  font-weight: 600;
}
.testimonial .right .testimonial-wrapper .highlight {
  color: white;
  background-color: #1fdb84;
}
.testimonial .right .testimonial-wrapper .highlight .green-logo {
  display: none;
}
.testimonial .right .testimonial-wrapper .highlight p, .testimonial .right .testimonial-wrapper .highlight span, .testimonial .right .testimonial-wrapper .highlight .author {
  color: inherit;
}
@media (max-width: 650px) {
  .testimonial .left h2 {
    margin: 0px;
    font-size: 20px;
  }
  .testimonial .left img {
    max-width: 140px;
  }
}

.client {
  padding: 100px 0px;
  text-align: center;
}
.client h5 {
  margin-bottom: 50px;
}
.client li {
  vertical-align: middle;
  margin: 0px 47px 20px 0px;
}
@media (max-width: 650px) {
  .client li {
    display: block;
    margin-bottom: 30px;
    margin-right: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
