.hero{
    position: relative;
    background-color: $primary-background;
    color: $primary-color;
    height: 920px;

    .container{
        position: relative;
        top: 50%;
        @include translate(0,-50%);

        > div{
            width: 50%;
        }

        p{
            font-size: 16px;
            line-height: 2;
            margin:40px 0px;
        }
        
        a{
            display: inline-block;
            margin-top:10px;
        }
    }

    img{
        max-width: 460px;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 120px;
    }

    @include breakpoint(small){

        img{
            display: none;
        }

        .container{

            top: 40%;
            @include translate(0,-40%);

            > div{
                width: 100%;
            }
        }
    
    }


    @include breakpoint(medium){

        img{
            max-width: 310px;
        }
    }

    @include breakpoint(extra-large){
        img{
            right: 5px;
        }
    }
    
}